/* ============================================================

   Custom CSS for Framedate-Docker deployment
   Autor: Lino
   
   The content of this file will be automatically copied during the
   Docker build below into the file /var/www/framadate/css/custom-style.css.

   ============================================================ */


/* === Colors === */
:root {
    --main-highlight-color: #267365;
    --main-bg-color: #ebebeb;
    --content-bg-color: #fff;
    --content-text-color: #000;
}

/* === General Styles === */
body {
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100%;
}
body::after {
    content: '';
    display: block;
    height: 50px;
  }
.container.ombre {
    padding: 0;
    margin: 0;
    width: 100%;
    flex-grow: 1;
    min-height: 100vh;
}
.ombre {
    background-color: var(--main-bg-color);
    background-image: url('../images/background.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.trait.col-xs-12 {
    display: none;
}

h1 {
    font-size: 36px;
    margin: 0 0 20px 0;
    color: #000;
}
h1, h2, h3 {
    font-weight: 600;
}
p {
    color: var(--content-text-color);
    font-size: 1em;
}
a.button, input#add_comment {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-highlight-color);
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    line-height: 2; 
}
a.button i {
    color: #fff;
}
@media (max-width: 992px) {
    a.button {
        font-size: 13px;
    }
}



/*===General Page*/
main {
    background-color: #fff;
    border-radius: 10px;
    border-top: 10px solid var(--main-highlight-color);
    padding: 30px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 50px;
}
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

@media (min-width: 992px) {
    .col-md-offset-2, .col-md-offset-1 {
        margin-left: 0;
    }
    .col-md-8, .col-md-10 {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .col-sm-4 {
        width: 180px;
    }
    .col-sm-8 {
        width: calc(100% - 180px);
        padding: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 992px) {
    main {
        margin-right: 20px;
        margin-left: 20px;
    }
}


/*===Header===*/
header.header-cevi {
    background-color: #fff;
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
}
header.header-cevi a img {
    height: 50px;
}
.header-left {
    flex: 1;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-right .time {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
}
.header-right p {
    margin: 0;
}
.header-right a.button {
    margin: 0 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.button-dropdown {
    background-color: var(--main-highlight-color);
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0%;
    transform: translateX(-50%);
    padding-top: 20px;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000;
}
.dropdown-content a:hover {
    background-color: var(--main-highlight-color);
    color: #fff;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .button-dropdown {
    background-color: var(--main-highlight-color);
    color: #fff;
}
@media (max-width: 992px) {
    header.header-cevi {
        padding: 20px 20px;
    }
    header.header-cevi a img {
        height: 30px;
    }
    .header-right .time {
        display: none;
    }
}



/* === Footer === */
footer {
    background-color: #fff;
    padding: 40px 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: -50px;
}
.footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-column {
    flex: 2;
    margin-right: 20px;
}
.footer-column-1 {
    flex: 40%;
}
.footer-column-2, .footer-column-3 {
    flex: 20%;
}
.footer-column:last-child {
    margin-right: 0;
}
img.footer-logo {
    margin-bottom: 20px;
}
.footer-title {
    font-weight: bold;
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
}
.footer-logo {
    max-width: 200px;
    height: auto;
}
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 30px;
}
.social-icons li {
    margin-right: 10px;
}
.social-icons i {
    font-size: 24px;
    color: #000;
}
.footer-links {
    list-style: none;
    padding: 0;
}
.footer-links li {
    margin-bottom: 10px;
}
footer a {
    color: #333333;
    text-decoration: none;
}
.footer-bottom {
    background-color: #fff;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.footer-bottom-right {
    text-align: right;
}
.footer-bottom-left,
.footer-bottom-right {
    flex: 1;
}
.footer-bottom-left {
    margin-right: 10px;
}
a.footer-links-bottom {
    margin-right: 15px;
}
@media (max-width: 768px) {
    footer {
        padding: 20px;
    }
    .footer-columns {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-column {
        flex: 1;
        margin: 0 0 40px;
    }
    .footer-logo {
        max-width: 150px;
    }
    .footer-links-bottom {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }
    .footer-bottom-left,
    .footer-bottom-right {
        flex: 1;
        text-align: left;
        margin-bottom: 10px;
    }
}



/* === Home Page === */
span.btn.btn-primary.btn-lg {
    background-color: var(--main-highlight-color);
}
span.btn.btn-info.btn-lg {
    background-color: var(--main-highlight-color);
}
span.btn.btn-warning.btn-lg {
    background-color: #4C5958;
    border: 0;
}
.opacity img {
    height: 200px;
}
.home {
    text-align: center;
    padding: 50px 0;
}
.home h1 {
    font-size: 50px;
}
.home p {
    font-size: 20px;
}
.home .buttons {
    margin-top: 50px;
}
.home .buttons a.button {
    margin: 0 10px;
}
hr.title-line {
    border: none;
    height: 5px;
    background-color: #000;
    margin: 5px auto 40px auto;
    width: 100px;
}
.home img {
    margin-top: 50px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.1);
}
@media (max-width: 992px) {
    .home {
        padding: 0 0;
        margin: 0 -20px;
    }
    .home h1 {
        font-size: 40px;
    }
    .home img {
        width: 100%;
    }
    .home .buttons a.button {
        margin: 5px 10px;
    }
}



/* === Create Pool Page === */
button.btn.btn-success {
    background-color: var(--main-highlight-color);
    border: 0;
}
.form-horizontal .control-label {
    text-align: left;
}
a.optionnal-parameters.lead {
    color: #000000;
    font-weight: 700;
}
.col-sm-8 {
    padding-left: 5px;
    padding-right: 5px;
}
label.col-sm-2.control-label {
    padding: 0;
}
.col-md-4 {
    padding-left: 0;
}
.col-md-8.text-right {
    padding: 0;
}
i.glyphicon.glyphicon-cog {
    display: none;
}
a.optionnal-parameters.collapsed.lead {
    margin-left: 5px;
}

/* === Pool Page === */
div#description-form, .col-md-5.hidden-print, .form-group.form-group.col-md-6, .hidden-print.jumbotron {
    padding-left: 0;
}
h3 {
    margin-left: 15px;
}
div#title-form {
    margin-left: -20px;
}
.jumbotron {
    background-color: #fff;
}
.container .jumbotron p {
    font-size: 1.2em;
}
.poll-description{
    font-size: 12px;
}
.jumbotron h3, .jumbotron .js-title {
    font-size: 36px;
}
td.bg-info.btn-edit, td.bg-info {
    background-color: #fff;
}
.bg-primary, .bg-primary a, a.bg-primary:focus, a.bg-primary:hover {
    background-color: var(--main-highlight-color);
}
th#M2 {
    border-radius: 10px 10px 0 0;
    background-color: var(--main-highlight-color);
}
.bg-danger, a.bg-danger:hover {
    border: 1px solid #d04437;
    background-color: #fff8f7;
}
#tableContainer .bg-danger {
    border: 0;
    background-color: #ffd2d2;
}
#tableContainer .text-warning {
    color: #C05827;
}
.alert.alert-dismissible.alert-success.hidden-print {
    background-color: #f3f9f4;
    border: 1px solid #6fc780;
}
.alert.alert-info {
    background-color: #DEEBFF;
    border: 1px solid #5297ff;
}
.bg-info, a.bg-info:hover {
    background-color: #e3e3e3;
}
i.glyphicon.glyphicon-remove.text-danger {
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 5px;
    color: #d04437;
}
i.glyphicon.glyphicon-plus.text-success {
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 5px;
    color: var(--main-highlight-color);
}
div.comment {
    border-left: 0;
    border-radius: 10px;
    padding: 12px 15px;
    display: flex;
    margin-left: 0;
}
.comment-image {
    margin: 5px 10px 0 0;
}
img.person-placeholder {
    height: 30px;
}
.col-sm-6.col-sm-offset-3.alert.alert-info {
    background-color: #fff0;
    border: 0;
    padding: 0;
}
table.results {
    margin: 0;
    width: 100%;
}
table.results .bg-danger .glyphicon {
    opacity: 100;
}
table.results tbody th.bg-info {
    padding: 5px 10px;
    text-align: left;
}
div#name-form {
    display: flex;
}
label.control-label, h3, a.public-link {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #000;
    font-size: 18px;
}
p.form-control-static {
    margin: 0 0 0 5px;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
}
legend {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 0;
    color: #000;
    margin-left: -10px;
}
.form-group {
    margin-left: -10px;
}
#add-comment .form-group label.control-label {
    font-size: 15px;
}
#add-comment legend {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}
#description-form label.control-label, #comments_list h3 {
    margin-bottom: 10px;
}
span.btn-link.glyphicon.glyphicon-link, p#showChart, .row.best-choice {
    display: none;
}
form#comment_form {
    margin-top: 50px;

@media (min-width: 992px) {
    .col-md-offset-3 {
        margin-left: 0;
    }
    .col-md-6 {
        width: 100%;
        pad: 0;
    }
    .col-sm-6.col-sm-offset-3.alert.alert-info {
        margin-left: 18px;
    }
}
@media (min-width: 768px) {
    .col-sm-offset-3 {
        margin-left: 30px;
    }
}
